h3 {
	margin: 0;
	padding: 20px;
	text-align: center;
}
.about {
	width: 380px;
	margin: 0 auto;
	text-align: center;
}
p {
	line-height: 25px;
}
.rules {
	margin: 0;
	padding: 0 20px 20px;
}